<%= form_for(@merit_badge) do |f| %>
  <% form_error_messages(@merit_badge, "merit badge") %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :eagle_required %><br />
    <%= f.check_box :eagle_required %>
  </div>
  <div class="field">
    <%= f.label :group_number %><br />
    <%= f.text_field :group_number %>
  </div>
  <% form_submit_buttons(f, use_save_and_new) %>
<% end %>

