<h1>Merit badges held by active scouts</h1>

<table class="detail">
  <tr>
    <% td_reference_url("All merit badges", "Merit_Badges#List_of_current_Merit_Badges") %>
  </tr>
</table>

<table class="listing vsep">
  <tr>
    <th>Name</th>
    <th>Scouts</th>
    <th>"Owned" by</th>
  <% if admin? %>
    <th>Group Number</th>
    <td class="actions"><%= link_to 'Add', new_merit_badge_path %></td>
  <% end %>
  </tr>

<% for merit_badge in @merit_badges %>
  <tr>
    <td class="<%= merit_badge.eagle_required ? 'required' : 'nonrequired' %>"
      title="<%= merit_badge.eagle_required ? 'Eagle-required' : '' %>">
      <%= link_to merit_badge.name, merit_badge %>
    </td>
    <td><%= merit_badge.num_active_scouts %></td>
    <% owner = merit_badge.owner %>
    <td><%= owner ? (link_to owner.name, owner) : "" %></td>
  <% if admin? %>
    <td><%= merit_badge.group_number %></td>
  <% end %>
  </tr>
<% end %>
</table>

