<h1><%= @merit_badge.name %> Merit Badge</h1>

<table class="detail">
  <tr>
    <% th_merit_badge_eagle_required(@merit_badge) %>
    <td></td>
  <% if admin? %>
    <td class="actions">
      <%= link_to 'Edit', edit_merit_badge_path(@merit_badge) %>
    <% if @merit_badge.unused? %>
      <%= link_to 'Delete', @merit_badge,
        :confirm => "Delete unused #{@merit_badge.name} merit badge?", :method => :delete %>
    <% end %>
    </td>
  <% end %>
    <% td_reference_url(@merit_badge.name, @merit_badge.reference_url_suffix) %>
  </tr>
</table>

<table class="listing vsep">
  <tr>
    <th>Scout</th>
    <th>Earned</th>
    <% toggle_show_inactive_td %>
  </tr>
<% smbs = show_inactive? ? @merit_badge.scout_merit_badges : @merit_badge.active_scout_merit_badges %>
<% smbs.sort.each do |smb| %>
  <tr>
    <td><%= link_to smb.scout.name, smb.scout %></td>
    <td><%= smb.earned %></td>
  </tr>
<% end %>
</table>

