<h1>Outings</h1>

<table class="listing">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Scouts</th>
    <th>Nights of Camping</th>
    <th>Long-Term Camp</th>
  <% if admin? %>
    <td class="actions"><%= link_to 'Add', new_outing_path %></td>
  <% end %>
  </tr>

<% for outing in @outings %>
  <tr>
    <td><%= link_to outing.name, outing %></td>
    <td><%= outing.date %></td>
    <td><%= outing.num_scouts %></td>
    <td><%= outing.nights_of_camping %></td>
    <td><%= outing.long_term_camp ? "Y" : "" %></td>
  </tr>
<% end %>
</table>

