<h1><%= @rank.name %> Rank</h1>

<table class="detail">
  <tr>
    <th>Scouts at rank:</th>
    <td><%= @rank.num_active_scouts %></td>
  <% if admin? %>
    <th>Ordinal:</th>
    <td><%= @rank.ordinal %></td>
  <% end %>
    <th>Merit badges required:</th>
    <% td_rank_merit_badge_counts(@rank) %>
  <% if admin? %>
    <td class="actions">
      <%= link_to 'Edit', edit_rank_path(@rank) %>
    <% if @rank.unused? %>
      <%= link_to 'Delete', @rank,
        :confirm => "Delete unused #{@rank.name} rank?", :method => :delete %>
    <% end %>
    </td>
  <% end %>
  <% if @rank.reference_url_suffix %>
    <% td_reference_url(@rank.name, @rank.reference_url_suffix) %>
  <% end %>
  </tr>
</table>

<table class="listing vsep">
  <tr>
    <th>Scout</th>
    <th>Earned</th>
    <% toggle_show_inactive_td %>
  </tr>
<% srs = show_inactive? ? @rank.scout_ranks : @rank.active_scout_ranks %>
<% srs.sort {|sr1,sr2| sr1.scout <=> sr2.scout }.each do |sr| %>
  <tr>
  <% if sr.scout.rank == @rank %>
    <td class='at-rank' title='Currently at rank'>
  <% else %>
    <td>
  <% end %>
      <%= link_to sr.scout.name, sr.scout %>
    </td>
    <td><%= sr.earned %></td>
  </tr>
<% end %>
</table>

