<h1><%= @award.name %> Award</h1>

<table class="detail">
  <tr>
  <% if @award.one_per_scout %>
    <th>One per scout</th>
  <% end %>
  <% if admin? %>
    <td class="actions"><%= link_to 'Edit', edit_award_path(@award) %></td>
    <% if @award.unused? %>
      <%= link_to 'Delete', @award,
        :confirm => "Delete unused #{@award.name} award?", :method => :delete %>
    <% end %>
  <% end %>
  </tr>
</table>

<table class="listing vsep">
  <tr>
    <th>Scout</th>
    <th>Earned</th>
    <% toggle_show_inactive_td %>
  </tr>
<% @scouts.each do |scout| %>
  <tr>
    <td><%= link_to scout.name, scout %></td>
    <td><%= @dates_by_scout[scout].collect {|date| date.to_s }.join(", ") %></td>
  </tr>
<% end %>
</table>

