<%= form_for(@scout) do |f| %>
  <% form_error_messages(@scout, "scout") %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday, :include_blank => true,
      :start_year => Time.now.year - 20, :end_year => Time.now.year - 10 %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <% form_submit_buttons(f, use_save_and_new) %>
<% end %>

