<h1>Scouts</h1>

<table class="listing">
  <tr>
    <th>Name</th>
    <!--
    <th>Rank</th>
    <th>Merit Badges</th>
    <th>Nights of Camping</th>
    -->
    <th>Birthday</th>
  <% if show_inactive? %>
    <th>Active</th>
  <% end %>
    <td class="actions">
    <% if show_inactive? %>
      <%= link_to 'Hide inactive', hide_inactive_scouts_path %>
    <% else %>
      <%= link_to 'Show inactive', show_inactive_scouts_path %>
    <% end %>
    </td>
  <% if admin? %>
    <td class="actions">
      <%= link_to 'Add', new_scout_path %>
    </td>
  <% end %>
  </tr>

<% @scouts.each do |scout| %>
  <tr>
    <td><%= link_to scout.name, scout %></td>
    <!--
    <td>< %= scout.rank ? (link_to scout.rank.name, scout.rank) : "" %></td>
    < % td_merit_badge_counts(scout) %>
    < % td_nights_of_camping_counts(scout) %>
    -->
    <td><%= scout.birthday %></td>
  <% if show_inactive? %>
    <td><%= scout.active ? "Y" : "" %></td>
  <% end %>
  </tr>
<% end %>
</table>

