<h1><%= @scout.name %></h1>

<table class="detail">
  <tr>
    <th>Rank:</th>
    <td><%= @scout.rank ? @scout.rank.name : "" %></td>
    <th>Merit badges:</th>
    <% td_merit_badge_counts(@scout) %>
    <!--
    <th>Nights of camping:</th>
    < % td_nights_of_camping_counts(@scout) %>
    -->
    <th>Birthday:</th>
    <td><%= @scout.birthday %></td>
    <th><%= @scout.active ? "Active" : "Inactive" %></th>
  <% if admin? %>
    <td class="actions">
      <%= link_to 'Edit', edit_scout_path(@scout) %>
    <% unless @scout.active? %>
      <%= link_to 'Delete', @scout,
        :confirm => "This will DELETE ALL RECORD of #{@scout.name}.", :method => :delete %>
    <% end %>
    </td>
  <% end %>
  </tr>
</table>

<table class="listing vsep">
  <tr>
    <th>Rank</th>
    <th>Earned</th>
    <th>Awarded</th>
  <% if admin? %>
    <td class="actions"><%= link_to 'Add', new_scout_scout_rank_path(@scout) %></td>
  <% end %>
  </tr>
<% @scout.scout_ranks_descending.each do |sr| %>
  <tr>
    <td><%= link_to sr.rank.name, sr.rank %></td>
    <td><%= sr.earned %></td>
    <td class="<%= sr.uncollected ? 'uncollected' : '' %>"
      title="<%= sr.uncollected ? 'Uncollected' : '' %>">
      <%= link_to_name_or_blank sr.court_of_honor %>
    </td>
  <% if admin? %>
    <td class="actions">
      <%= link_to 'Edit', edit_scout_scout_rank_path(@scout, sr) %>
      <%= link_to 'Delete', scout_scout_rank_path(@scout, sr), :confirm => 'Are you sure?', :method => :delete %>
    </td>
  <% end %>
  </tr>
<% end %>
</table>

<table class="listing vsep">
  <tr>
    <th>Merit Badge</th>
    <th>Earned</th>
    <th>Awarded</th>
  <% if admin? %>
    <td class="actions"><%= link_to 'Add', new_scout_scout_merit_badge_path(@scout) %></td>
  <% end %>
  </tr>
<% @scout.scout_merit_badges_alphabetical.each do |smb| %>
  <tr>
    <td class="<%= smb.merit_badge.eagle_required ? 'required' : 'nonrequired' %>"
      title="<%= smb.merit_badge.eagle_required ? 'Eagle-required' : '' %>">
      <%= link_to smb.merit_badge.name, smb.merit_badge %>
    </td>
    <td><%= smb.earned %></td>
    <td class="<%= smb.uncollected ? 'uncollected' : '' %>"
      title="<%= smb.uncollected ? 'Uncollected' : '' %>">
      <%= link_to_name_or_blank smb.court_of_honor %>
    </td>
  <% if admin? %>
    <td class="actions">
      <%= link_to 'Edit', edit_scout_scout_merit_badge_path(@scout, smb) %>
      <%= link_to 'Delete', scout_scout_merit_badge_path(@scout, smb), :confirm => 'Are you sure?', :method => :delete %>
    </td>
  <% end %>
  </tr>
<% end %>
</table>

