<!DOCTYPE html>
<html>
<head>
  <title>Badger: <%= @title %></title>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <!--
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  -->
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'badger', :media => 'screen' %>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li><%= link_to "Scouts", scouts_path %></li>
          <li><%= link_to "Ranks", '#' %></li>
          <li><%= link_to "Merit Badges", '#' %></li>
          <li><%= link_to "Awards", '#' %></li>
          <li><%= link_to "Outings", '#' %></li>
          <li><%= link_to "Courts of Honor", '#' %></li>
        <% if admin? %>
          <li><%= link_to "View", view_mode_scouts_path %></li>
          <li><%= link_to "Setup", (edit_badger_config_path BadgerConfig.first) %></li>
        <% else %>
          <li><%= link_to "Admin", admin_mode_scouts_path %></li>
        <% end %>
        </ul>
      </nav>
    </header>
    <section>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </section>
  </div>
</body>
</html>

